{% extends 'base.html' %}

{% block content %}
<div class="card-body text-center p-4">
    <img src="/static/img/pets.jpg"
         srcset="/static/img/pets.jpg 576w,
                 /static/img/pets.jpg 768w,
                 /static/img/pets.jpg 992w"
         sizes="(min-width: 250px) 50vw , (min-width:500px) 25vw , 100vw"
         alt="Pets">
</div>

<div class="card-body text-center p-4">
    <h1 class="display-4 fw-bold primary-text">Expérience</h1>
    <br/>
    <br/>
    <h5>Ma passion au quotidien<br/>
        Diplomée d'une école privée de toilettage<br/>
        Je propose des services de qualité et d'exellentes techniques de toilettage<br/>
        J'utilise uniquement des produits professionnelles<br/>
        Votre animal sera entre bonnes mains<br/>
    <br/>
    <br/>
    </h5>
    <h4>Pour plus de renseignements<br/>
        rendez-vous chez Star Pup<br/>
        Contact +32 499 99 99 99<br/>
    </h4>
</div>
{% endblock %}