{%extends 'base.html'%}

{%block content%}
<section class="herobanner">
    <div class="w-30">
        <h1 class="mb-5 name ">Bienvenu chez START PUP</h1>
        <h5 class="mb-5">Parce que chaque compagnon mérite d’être choyé, notre salon accueille chiens, chats et nouveaux
            animaux de
            compagnie dans un espace chaleureux et apaisant. Du bain relaxant à la coupe stylée, nous allions douceur,
            hygiène et savoir-faire pour que votre animal reparte heureux, propre et tout beau.
        </h5>
        <div class="d-flex justify-content-around">
            <div class="w-25 d-flex flex-column align-items-center">
                <div class="w-50 img-round-border mb-3">
                    <img class="w-100" src="{{url_for('static', filename='/icons/bath.svg')}}" alt="">
                </div>
                <p class="subtitle">Toilettage complet</p>
            </div>
            <div class="w-25 d-flex flex-column align-items-center">
                <div class="w-50 img-round-border mb-3">
                    <img class="w-100" src="{{url_for('static', filename='/icons/brush.svg')}}" alt="">
                </div>
                <p class="subtitle">Coiffe et coupe</p>
            </div>
            <div class="w-25 d-flex flex-column align-items-center">
                <div class="w-50 img-round-border mb-3">
                    <img class="w-100" src="{{url_for('static', filename='/icons/claw-cutter.svg')}}" alt="">
                </div>
                <p class="subtitle">Soin des griffes</p>
            </div>
        </div>
    </div>
    <div class="w-25">
        <img class="herobanner-img" src="{{url_for('static', filename='/img/herobanner.jpg')}}" alt="herobanner img">
    </div>
</section>
{%endblock%}