{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h1>Nos Services</h1>
</div>

<div class="s-border">
    <h5>Le toilettage comprend :</h5>
    <p>Coupe des ongles, nettoyage des oreilles, coussinets, bas-ventre et zone hygiènes,<br/>
        vérification des glandes anales, bain avec shampoing adapté,<br/>
        brushing et enfin une petite douche de parfum<br/>
    </p>
    <p>Chien petite taille (ex : Bichon, Shi tzu...)<br/>
        Bain Chien poils ras : 35,00 €*<br/>
        Bain démêlage chien petit : 45,00 €*<br/>
        (selon la longueur et l'état du poil)<br/>
        Coupe tondeuse : 55,00 €*<br/>
        Coupe ciseaux : 65,00 €*<br/>
        Triming : 70,00 €*<br/>
    </p>
    <P>Chien moyen taille (ex : Border collies, Cocker...)<br/>
        Bain Chien poils ras : 40,00 €*<br/>
        Bain démêlage chien normal : 50,00 €*<br/>
        (selon la longueur et l'état du poil)<br/>
        Coupe tondeuse : 55,00 €*<br/>
        Coupe ciseaux : 70,00 €*<br/>
        Triming ou débourrage : 75,00 €*<br/>
    </P>
    <p>Chien grande taille (ex : Terre neuve, Saint-bernard...)<br/>
        Bain poils ras : à partir de 50,00 €*<br/>
        Bain démêlage : entre 55,00 € et 65,00 €*<br/>
        (selon la longueur et l'état du poil)<br/>
        Coupe tondeuse : entre 60,00 € et 80,00 €*<br/>
        Coupe ciseaux : entre 85,00 € et 120,00 €*<br/>
        Triming ou débourrage : entre 85,00 € et 120,00 €*<br/>
    </p>
    <p>Chat<br/>
        Bain démêlage ou tonte : 55,00 €<br/>
        Démêlage ou tonte sans bain : 45,00 €<br/>
    </p>
    <P>Rongeurs/nac<br/>
        bain + coupe Hamster : 25,00 €<br/>
        bain + coupe Lapin : 35,00 €<br/>
        bain + coupe Furet/Fouine : 45,00 €<br/>
    </P>
    <p>Autres soins<br/>
        Coupe des ongles petit chien : 5,00 €<br/>
        Coupe des ongles grand chien : 10,00 €<br/>
        Shampooing anti puces : 5,00 €<br/>
    </p>
</div>

{% endblock %}